@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

@theme {
  --color-darkbody: #240046;
  --color-darknav: #3c096c;
  --color-lightbody: #e9ecef;
  --color-lightnav: #ced4da;
  --color-darkfooter: #47297b;
  --color-lightfooter: #ced4da;

}

.container {
  width: 90%;
  margin: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
